.bloque-medio{
    width: 1348px;
    height: 1000px;
    margin: 1px;
    background-color: #163c4a;
}

#imagen {
    background-image: url('/group-12.jpg');
    background-size: cover;
    padding-top: 95px;
    min-height: 400px;
}

#logo-2{
    padding-left: 700px;
}

#logo-1{
    padding-left: 501px;
}

h1{
    color: rgb(255, 255, 255);
    font-family: antipasto;
    text-align: center;
    letter-spacing: 2.3;
}
.span-1{
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}